/* Tested in Chrome, Firefox, Opera and Edge(New version) */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background-color: #72c158;
    display: grid;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: 100vh;
    margin: 0;
    place-items: center;
    width: 100vw;
}

.login-form {
    background: #ffffff;
    box-shadow: 0 0 15px grey;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    padding: 3rem;
}

.login-form > input, button {
    border: none;
    font-size: 1.5rem;
    padding: 1rem;
}

.login-form > input {
    background: #f2f2f2;
    color: #cfcfcf;
}

.login-form > input::placeholder {
    color: #cfcfcf;
}

.login-form > button {
    background-color: #00b242;
    color: #ffffff;
    cursor: pointer;
}

.login-form > span {
    color: #cfcfcf;
}

.login-form a {
    color: #72c158;
}

.login-form a:hover {
    cursor: pointer;
}